/* колір основного тексту #000000 */
/* другорядний колір тексту #757575 */
/* білий #ffffff */
/* акцент #2196F3 */
/* основний колір фону #f5f5f5 */
/* другорядний колір фону #2F303A */
/* фон хедера #f5f5f5 */
/* фон кнопок навігації  #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --subtitle-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-background: #f5f5f5;
  --secondary-background: #2f303a;
  --button-background: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
}

.site-name {
  color: var(--accent-color);
}

.navigation-studio .link {
  color: var(--accent-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link:focus {
  color: var(--accent-color);
}

.navigation-link:hover {
  color: var(--accent-color);
}

.navigation-link:focus {
  color: var(--accent-color);
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--subtitle-text-color);
}

.navigation-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.studio {
  color: #212121;
}

.site-nav .portfolio {
  color: #2196f3;
}

.hero-section {
  background-color: var(--secondary-background);
}

.hero-title {
  text-transform: uppercase;
  text-align: center;
  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  position: absolute;
  padding: 10px 24px;
  border: 0;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #188ce8;
}

.button:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.principle-item {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--subtitle-text-color);
}

.our-principles {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.h-activity {
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-text-color);
}

.team {
  background-color: #f5f4fa;
}

.h-team {
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-text-color);
}

.photo {
  background-color: var(--white-text-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-text-color);
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer-studio {
  color: var(--white-text-color);
}

.down {
  background: var(--secondary-background);
}

.adress-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.footer-navigation-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.project-item {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--subtitle-text-color);
}

.project-item-description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.navigation-button {
  padding: 6px 22px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  border: 0;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--subtitle-text-color);
  background: var(--button-background);
  border-radius: 4px;
  cursor: pointer;
}

.btn-one {
  min-width: 23px;
}

.btn-two {
  min-width: 100px;
}

.btn-three {
  min-width: 68px;
}

.btn-four {
  min-width: 103px;
}

.btn-five {
  min-width: 130px;
}

.navigation-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.navigation-button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.list {
  padding: 0;
  margin: 0;
}

.card {
  background-color: var(--white-text-color);
}

.footer-contacts {
  font-style: normal;
}

.adress {
  font-style: normal;
}

.footer-navigation-link:hover {
  color: var(--accent-color);
}

.footer-navigation-link:focus {
  color: var(--accent-color);
}

.adress-link:hover {
  color: var(--accent-color);
}

.adress-link:focus {
  color: var(--accent-color);
}

* {
  box-sizing: border-box;
}
/* BOX */

.container {
  width: 1230px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.section {
  padding: 94px 0;
}
.section-activity {
  padding: 0 0 94px;
}
