/* колір основного тексту #000000 */
/* другорядний колір тексту #757575 */
/* білий #ffffff */
/* акцент #2196F3 */
/* основний колір фону #f5f5f5 */
/* другорядний колір фону #2F303A */
/* фон хедера #f5f5f5 */
/* фон кнопок навігації  #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --subtitle-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-background: #f5f5f5;
  --secondary-background: #2f303a;
  --button-background: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
}

.site-name {
  color: var(--accent-color);
}

.navigation-studio .link {
  color: var(--accent-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link:focus {
  color: var(--accent-color);
}

.navigation-link:hover {
  color: var(--accent-color);
}

.navigation-link:focus {
  color: var(--accent-color);
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--subtitle-text-color);
}

.navigation-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.studio {
  color: #212121;
}

.site-nav .portfolio {
  color: #2196f3;
}

.hero-section {
  background-color: var(--secondary-background);
}

.hero-title {
  text-transform: uppercase;
  text-align: center;
  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button:hover {
  background-color: #188ce8;
}

.button:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.principle-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--subtitle-text-color);
}

.our-principles {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.h-activity {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-text-color);
}

.team {
  background-color: #f5f4fa;
}

.h-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-text-color);
}

.photo {
  background-color: var(--white-text-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-text-color);
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer-studio {
  color: var(--white-text-color);
}

.down {
  background: var(--secondary-background);
}

.adress-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.footer-navigation-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.project-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--subtitle-text-color);
}

.project-item-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.navigation-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--subtitle-text-color);
  background: var(--button-background);
  border-radius: 4px;
  cursor: pointer;
}

.navigation-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.navigation-button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.card {
  background-color: var(--white-text-color);
}

.footer-contacts {
  font-style: normal;
}

.adress {
  font-style: normal;
}

.footer-navigation-link:hover {
  color: var(--accent-color);
}

.footer-navigation-link:focus {
  color: var(--accent-color);
}

.adress-link:hover {
  color: var(--accent-color);
}

.adress-link:focus {
  color: var(--accent-color);
}
